In [1]:
 import pandas as pd

### What is a Series?
A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [2]:
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a)
print("List value is :",a)
print()
print("Series value is :")
print(myvar)

List value is : [1, 7, 2]

Series value is :
0    1
1    7
2    2
dtype: int64

### Labels
If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [3]:
print(myvar[0])

1

### Create Custom Labels
With the index argument, you can name your own labels.

In [4]:
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [5]:
print(myvar["y"])

7

### Key/Value Objects as Series
You can also use a key/value object, like a dictionary, when creating a Series.

In [6]:
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

### Choosing index for series

In [7]:
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories, index = ["day1", "day3"])
print(myvar)

day1    420
day3    390
dtype: int64

### Intro to Methods

In [8]:
"hello".upper()

'HELLO'

In [9]:
values = [1,2,3,4]
values.append(5)
print(values)

[1, 2, 3, 4, 5]

#### Sum series values

In [10]:
float_variable= [10.2, 24.6, 45,9, 9.02]
prices= pd.Series(float_variable)
series_sum= prices.sum()
print(prices)
print("Sum of series is :",series_sum)

0    10.20
1    24.60
2    45.00
3     9.00
4     9.02
dtype: float64
Sum of series is : 97.82

#### Mean of  series values

In [11]:
series_mean= prices.mean()
print("Mean of series is :",series_mean)

Mean of series is : 19.564

#### Product of a series

In [12]:
series_mean= prices.product()
print("Product of series is :",series_mean)

Product of series is : 916635.8519999998

### check if sum(), product() and mean() work on list?

In [17]:
data_list = [2,4,6]
print("List sum ->",sum(data_list))
#product and mean is not possible with list.
#Either use custom function or loop to perform product and mean

List sum -> 12

## Intro to  Attributes

In [18]:
adjectives = pd.Series(["Smart","Handsome","Charming","Brillant","Humble", "Smart"])
print(adjectives)
print(type(adjectives))

0       Smart
1    Handsome
2    Charming
3    Brillant
4      Humble
5       Smart
dtype: object
<class 'pandas.core.series.Series'>

In [19]:
print(len(adjectives))
adjectives.size

6

6

In [23]:
print(adjectives.is_unique)

a = pd.Series(["Smart"])
print(a.is_unique)
print(a.size)

False
True
1

In [24]:
adjectives.values

array(['Smart', 'Handsome', 'Charming', 'Brillant', 'Humble', 'Smart'],
      dtype=object)

In [25]:
type(adjectives.values)

numpy.ndarray

In [26]:
adjectives.index

RangeIndex(start=0, stop=6, step=1)

In [27]:
type(adjectives.index)

pandas.core.indexes.range.RangeIndex

In [28]:
adjectives.dtype

dtype('O')

### Exercise

In [31]:
import pandas as pd

# The Series below stores the number of home runs
# that a baseball player hit per game
home_runs = pd.Series([3, 4, 8, 2])

# Find the total number of home runs (i.e. the sum) and assign it
# to the total_home_runs variable  and print result
total_home_runs =  home_runs.sum()
print(total_home_runs)

# Find the average number of home runs and assign it
# to the average_home_runs variable and print result
average_home_runs = home_runs.mean()
print(average_home_runs)

17
4.25

### Parameters and Arguments

Parameter - The name we give to an expected input

Argument  - The Concrete value that we provide to a parameter

Difficulty_levels-  Easy, Medium, Hard

Volume - High, Medium, Low

Volume - 1 through 10

Subtitles- True or False

In [33]:
fruites = ["Apple", "Mango", "Banana", "Pineapple", "Jackfruit", "CustardApple"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

#Press Shift + Tab then release it to read the possible options (arguments) for series. 
pd.Series()

<ipython-input-33-9f16d310ed29>:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [34]:
pd.Series(data=None,index=None, dtype= int)

Series([], dtype: int32)

In [35]:
pd.Series(fruites)

0           Apple
1           Mango
2          Banana
3       Pineapple
4       Jackfruit
5    CustardApple
dtype: object

In [36]:
pd.Series(fruites, weekdays)

Monday              Apple
Tuesday             Mango
Wednesday          Banana
Thursday        Pineapple
Friday          Jackfruit
Saturday     CustardApple
dtype: object

### Exercise

In [41]:
# If you see a test failure when checking your solution,
# note that [left] refers to YOUR code while [right]
# refers to the correct code that the computer is comparing
# to your work
 
# The code below defines a list of delicious foods
# and some dipping sauces to dip them in
import pandas as pd
 
foods = ["French Fries", "Chicken Nuggets", "Celery", "Carrots"]
dipping_sauces = ["BBQ", "Honey Mustard", "Ranch", "Sriracha"]
 
# Create a Series and assign it to the s1 variable. 
# Assign the foods list as the data source
# and the dipping_sauces list as the Series index 
# For this solution, use positional arguments (i.e. feed in the arguments sequentially)
s1=pd.Series(fruites, index=weekdays)
print(s1) 

print()    
# Create a Series and assign it to the s2 variable. 
# Assign the dipping_sauces list as the data source
# and the foods list as the Series index 
# For this solution, use keyword arguments (i.e. provide the parameter names
# alongside the arguments)
s2=pd.Series(index=weekdays,data=fruites)
print(s2)

Monday              Apple
Tuesday             Mango
Wednesday          Banana
Thursday        Pineapple
Friday          Jackfruit
Saturday     CustardApple
dtype: object

Monday              Apple
Tuesday             Mango
Wednesday          Banana
Thursday        Pineapple
Friday          Jackfruit
Saturday     CustardApple
dtype: object

### Head and Tail method

In [42]:
a=pd.Series(fruites, weekdays)
print(a.head())
print()
print(a.tail())

Monday           Apple
Tuesday          Mango
Wednesday       Banana
Thursday     Pineapple
Friday       Jackfruit
dtype: object

Tuesday             Mango
Wednesday          Banana
Thursday        Pineapple
Friday          Jackfruit
Saturday     CustardApple
dtype: object

### Series and in built functions

In [43]:
a=pd.Series(fruites, weekdays)
print(sorted(a))
print(len(a))
print(a.size)
print(list(a))
print(dict(a))
print(max(a))
print(min(a))

['Apple', 'Banana', 'CustardApple', 'Jackfruit', 'Mango', 'Pineapple']
6
6
['Apple', 'Mango', 'Banana', 'Pineapple', 'Jackfruit', 'CustardApple']
{'Monday': 'Apple', 'Tuesday': 'Mango', 'Wednesday': 'Banana', 'Thursday': 'Pineapple', 'Friday': 'Jackfruit', 'Saturday': 'CustardApple'}
Pineapple
Apple